<ion-navbar *navbar>
    <ion-title>Select Species</ion-title>
</ion-navbar>

<ion-content class="speciesselect">
    <ion-list>
        <div *ngFor="#genus of model">
            <ion-list-header>{{genus.name}}</ion-list-header>
            <ion-item-sliding *ngFor="#species of genus.species" #slidingItem>
                <ion-item (click)="selectSpecies(genus,species)">{{species}}</ion-item>
                <ion-item-options>
                    <button danger (tap)="deleteSpecies(slidingItem,genus,species)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>

<button fab fab-right fab-bottom (click)="addSpecies()">
    <ion-icon name='add'></ion-icon>
</button>