<ion-navbar *navbar>
    <ion-title>Select Species</ion-title>
</ion-navbar>

<ion-content class="speciesselect">
    <ion-searchbar [(ngModel)]="queryText" (input)="search()" placeholder="   Search"></ion-searchbar>

    <ion-list>
        <ion-item-group *ngFor="#genus of model">
            <ion-item-divider sticky>{{genus.name.toUpperCase()}}</ion-item-divider>

            <ion-item-sliding *ngFor="#species of genus.species" #slidingItem>
                <ion-item (click)="selectSpecies(genus,species)">{{species}}</ion-item>
                <ion-item-options>
                    <button danger (tap)="deleteSpecies(slidingItem,genus,species)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>

<button fab fab-right fab-bottom (click)="addSpecies()">
    <ion-icon name='add'></ion-icon>
</button>