<ion-navbar *navbar back-button-icon="camera">
    <ion-title>View Spider</ion-title>
    <ion-buttons end>
        <button (click)="editSpider()">Edit</button>
    </ion-buttons>
</ion-navbar>

<ion-content class="spider-detail">
    <ion-list>
        <ion-card *ngIf="model.img">
            <img [src]="model.img | jpgDataUri" />
        </ion-card>

        <ion-item *ngIf="model.name">{{model.name}}</ion-item>

        <ion-item *ngIf="model.genus || model.species">{{model.genus}} {{model.species}}</ion-item>
    </ion-list>
</ion-content>